

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
}

:root {
    --azul: #0040ff;
    --amarillo: #f2b705;
    --rojo: #f20505;
    --blanco: #ffffff;
    --negro: #000000;
    --fuente: "Nunito Sans"
  }
  
  /*selector universal*/
  * {
    font-family: var(--fuente);
    font-size: 16px;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    margin-bottom: 15px;
    font-size: 2em;
    text-shadow: 0px 0px 5px var(--amarilloContraste);
  
  }
  
  /*selector clase*/
  .bg-amarillo {
    background-color: var(--amarillo);
  }
  
  .bg-rojo {
    background-color: var(--rojo);
  }

  .bg-azul {
    background-color: var(--azul);
  }
  
  .logo {
    width: 100px;
    height: 50px;
  }
  
  #myCarousel{
    padding: 20px;
    background: #000;
  }
  
 
  

  /*definir imagenes, colores, fuentes, etc */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
  --azulPrimario: #2C87BF;
  --amarilloContraste: #f2b705;
  --blanco: #ffffff;
  --negro: #000000;
  --fuente: "Orbitron"
}

/*selector universal*/
* {
  font-family: var(--fuente), monospace;
  font-size: 16px;
}

h1 {
  font-size: 3em;
}

h2 {
  margin-bottom: 15px;
  font-size: 2em;
  text-shadow: 0px 0px 5px var(--amarilloContraste);

}

/*selector clase*/
.bg-amarillo {
  background-color: var(--amarilloContraste);
}

.logo {
  width: 100px;
  height: 50px;
}

/*selector descendente */
/*nav li a{*/
.nav-link {
  color: var(--negro) !important
}

/*selector de etiqueta*/
section,
footer {
  margin-top: 50px !important;
}



footer,
footer a {
  color: var(--blanco);
}

footer {
  padding: 25px;
  text-align: center;
  background-color: var(--negro);
}

footer a {
  padding-bottom: 30px;
  text-decoration: none;
}

.btn-buscar {
  width: 50px;
  color: var(--azulPrimario);
  border: 2px var(--azulPrimario) solid;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.btn-buscar:hover,
.btn-buscar:active {
  color: var(--blanco) !important;
  background-color: var(--azulPrimario) !important;
  border: 2px var(--azulPrimario) solid !important;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.nav-link {
  padding: 30px;
}

.nav-link:hover,
.active {
  /*color: var(--azulPrimario) !important;
  /*text-decoration: underline;
  border-bottom: 4px solid var(--azulPrimario);*/
  color: var(--blanco) !important;
  background-color: var(--azulPrimario);
}

footer div a:hover {
  font-weight: bolder;
  text-decoration: underline;
  /*text-shadow: 0 0 5px var(--amarilloContraste) !important;
  */
}

 
  



